{% extends "base.html" %}
{% block content %}

<div class="row row-flex" xmlns="http://www.w3.org/1999/html">
    {% for object_filter in object_filter %}

    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <form method="post" action="{% url 'buy' object_filter.id %}">
     {% csrf_token %}
        <div class="panel-body">
            <div class="product" style="background-image: url('{{ object_filter.image }}')"></div>

            <h3 class="text-center">{{ object_filter.name }}</h3>
            <p class="product-description text-center">{{ object_filter.description }}</p>
         <p class="text-center">Rs.{{ object_filter.price}}</p>
            <center><a href="buy/{{product.id}}"><button class="btn btn-success">Buy</button></a></center>
        </form>

        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}